.bubble {
    dominant-baseline: central;
    text-anchor: middle;
    animation: opacity .3s 1;
    cursor: pointer;
}

.end {
    stroke: #fff;
    stroke-width: 2;

}

.circle {
    stroke: #fff;
    stroke-width: 2;
}

.text {
    fill: #fff;
    font-size: 12px;
}

@keyframes opacity {
    from { opacity: 0; }
    to { opacity: 1; }
}
